/**************************/
/* BELLOW 1200 (ladscape tablet) */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

/**************************/
/* BELLOW 944 (tablet) */
/**************************/
@media (max-width: 59rem) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img-box,
  .hero-text-box {
    text-align: center;
  }

  .hero-img-box img {
    width: 60%;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials-gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--from {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGANTION */

  .header {
    position: relative;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease-in;
  }

  .nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
